.navbar{

    display: flex;
    background-color: grey;
    
    
}
.navlist{
    color: brown;
    font-style: oblique;
    text-decoration: none;
    text-align:right;
    
}
img{
    width: 30%;
    height: 30%;
    border-radius: 90%;
    margin-left: 20%;
    float: left;
}
h1{
    color: brown;
    font-weight: 500;
    font-size: xx-large;
    font-style: italic;
}
p{
    font-size: medium;
    color: aquamarine;
}
table th,td{
    border: 1px solid;
}
